.cards {
    min-height: 100vh;
    padding: 40px;
    text-align: center;
}

.cards h2 {
    margin-bottom: 30px;
}

/* CONTENEDOR FLEX */
.contenedor-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* CARD */
.card {
    background: #f5f5f5;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* IMAGEN */
.card img {
    width: 100%;
    border-radius: 10px;
}

/* TEXTO */
.card h3 {
    margin: 10px 0;
}

.card p {
    margin-bottom: 10px;
}

/* BOTON */
.card button {
    padding: 8px 15px;
    border: none;
    background: #00bcd4;
    color: white;
    cursor: pointer;
}

<!--chat-->

.contenedor-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 250px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
}