/* SECCIÓN HOME (PORTADA) */
.home {
    height: 100vh;
    position: relative;
}

/* IMAGEN PRINCIPAL */
.hero-img {
    width: 100%;
    height: 40vh; /* cumple con el TP */
    object-fit: cover;
}

/* TEXTO SOBRE IMAGEN */
.texto {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
}
/* TÍTULO PRINCIPAL */
.texto h1 {
    font-size: 3rem;
}
/* PÁRRAFO */
.texto p {
    font-size: 1.2rem;
}